* {
    font-family: 'Helvetica', sans-serif;
    background-color: white;
    text-align: center;

}

h1 {
    color: #f31700;
    font-size: 30px;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 10px;
}

h2 {
    color: #756d6f;
    font-size: 20px;
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    margin-top: 0px;
    margin-bottom: 40px;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 2.0;
    font-weight: normal;
}

p {
    color: #ada6a8;
    font-weight: normal;
}

img {
    margin-top: 50px;
    width: 200px;
}

footer {
    display: block;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

a:hover {
    color: #FF8600;
    background-color: transparent;
}

/* img {
    justify-content: center;
    text-align: center;
}

.icon img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
} */

/* blog stuff */
/* .card{
    text-align: center;
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
}

.card p{
    padding-right: 50px;
    padding-left: 50px;
}

.card img{
    width: 200px;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.card-container{
    padding-bottom: 60px;
}
*/

/* in blog text */
/* .text{
    margin-right: 300px;
    margin-left: 300px;
}

p{
    font-size: 16px;
} */