* {
    background-color: #F5F9F9;
    color: #55351E;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h1 {
    font-size: 40px;
    font-family: "Yuji Syuku", serif;
}

h2 {
    font-size: 20px;
    font-family: "Yuji Syuku", serif;
}

p{
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

img {
    justify-content: center;
    text-align: center;
}

.icon img {
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

/* nav bar */
ul {
    list-style-type: none;
    margin: 30;
    padding: 30;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
}

/* flex */
.flex {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.card-container{
    width: 900;
    /* padding-bottom: 60px; */
}

.card{
    text-align: center;
    width: 300px;
    height: 300px;
    /* box-shadow: 0 4px 8px 0 rgba(23, 25, 106, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin: 20px;
    object-fit: cover;
}

.card p{
    padding-right: 50px;
    padding-left: 50px;
}

.card img{
    width: 300px;
    height: 300px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 0.5;
}
