* {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #F4EBD9;
    color: #483D3F;
    margin: 0;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

h1 {
    font-size: 25px;
}

.flex {
    display: flex; 
    flex-wrap: wrap; 
}

a:hover {
    color: #FF8600;
    background-color: transparent;
    text-decoration: underline;
}

.intro {
    margin-top: 40vh;
    background-size: cover;
}
